body{
    background: #BDBDBD;
}

.heading {
    background-color: white;
}

.start {
    padding: 40px;
    margin-bottom: 60px;
}

.container {
    background: lightgray;
    padding: 40px;
    
    
}